#img-bg {
    background-image: url('https://64.media.tumblr.com/676c2ffa930da5cd72e64d62b5274d1b/tumblr_n2nuqhS9Ud1qk7u8po1_640.jpg');

    min-height: 721px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}